body{
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.regCon{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.receipt{
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 300px;
  width: 400px;  

  overflow: scroll;
  scrollbar-width: none;
  padding: 20px;
  word-break: break-all;
}
button{
width: fit-content;
}